on init
    chown system graphics /sys/class/drm/card0-DSI-1/dimlayer_bl_en
    chown system graphics /sys/class/drm/card0-DSI-1/hbm
    chmod 0666 /sys/class/drm/card0-DSI-1/dimlayer_bl_en
    chmod 0666 /sys/class/drm/card0-DSI-1/hbm

on post-fs-data
    mkdir /data/misc/display 0770 system graphics

service livedisplay-hal-2-1 /system/bin/hw/lineage.livedisplay@2.1-service.oneplus_lito
    class hal
    user system
    group system
